<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.report.service.mapper.DeptMapper">
  <resultMap id="BaseResultMap" type="com.kg.report.model.po.DeptPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Fdept_name" jdbcType="VARCHAR" property="name" />
    <result column="Fadd_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, Fdept_name, Fadd_time
  </sql>

  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_dept
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_dept
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.kg.report.model.po.DeptPO" useGeneratedKeys="true">
    insert into t_dept (Fdept_name, Fadd_time)
    values (#{name,jdbcType=VARCHAR}, NOW())
  </insert>

  <update id="update">
    update t_dept
    set Fdept_name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_dept
  </select>
  <select id="nameExist" resultType="java.lang.String">
    select
    Fdept_name
    from
    t_dept
    where Fdept_name=#{name,jdbcType=VARCHAR}
  </select>
</mapper>